<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
</head>
<body>
    <form method="get" action="/sugestao">
        <label for="nome">Seu nome:</label>
        <input type="text" name="nome" id="nome" required>

        <label for="ingredientes">Ingredientes sugeridos:</label>
        <input type="text" name="ingredientes" id="ingredientes" required>
        <button type="submit">Enviar</button>
    </form>
    <a href="contato.html">Contato</a>
    <a href="/api/lanches">Ver Lanches</a>
</body>
</html>